body,
html{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #3E4452;
}

.container{
    max-width: 300px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

ul.boxs-container{
    list-style: none;
    padding: 20px;
}

ul.boxs-container li label{
    display: inline-block;
    background-color: #2b3241;
    border: 1px solid #b1b2cf;
    color: #b1b2cf;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
    padding: 8px 12px;
    cursor: pointer;
}

ul.boxs-container li label:hover{
    border: 1px solid #686ffd;
}   

ul.boxs-container li input[type="checkbox"]:checked+label{
    border: 1px solid #686ffd;
    background-color: #686ffd;
    color: white;
    transition: all 0.2s;
}

ul.boxs-container li input[type="checkbox"]{
    position: absolute;
    opacity: 0;
}

