*{
    margin: 0;
    padding: 0;
}

.continer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 30px;
}

.btn button{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#counter{
    font-size: 60px;
    color: green;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.indi{
	padding: 10px 20px;
	font-size: 20px
}